.page4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 5%; /* Adjust padding for better spacing */
  
    /* Media Query for Tablets and Larger Screens */
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      padding: 6% 10%; /* Adjust padding for larger screens */
    }
  }
  
  .content {
    flex: 1;
    padding: 1rem;
  }
  
  .message {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
  }
  
  .learn-more {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5%;
  }
  
  .gif-container {
    flex: 1;
    display: flex;
    justify-content: center; /* Center gif on small screens */
    align-items: center;
    margin-top: 1rem; /* Add spacing on small screens */
  }
  
  .floating-gif {
    max-width: 100%;
    max-height: 100%;
  }
  
  .content {
    padding: 0 20px; /* Adjust horizontal padding for better spacing */
  
    /* Media Query for Tablets and Larger Screens */
    @media screen and (min-width: 768px) {
      padding: 0; /* Reset padding for larger screens */
    }
  }
  
  .buying {
    margin-bottom: 10px; /* Adjust margin for better spacing */
    font-size: 1rem; /* Adjust font size for smaller screens */
    background-color: rgb(19, 83, 19);
    color: white;
    border-radius: 5%;
    padding: 7px;
    cursor: pointer;
  }
  
  /* Media Query for Smaller Screens */
  @media screen and (max-width: 768px) {
    .buying {
      font-size: 0.8rem; /* Adjust font size for smaller screens */
    }
  }
  